@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("styles/header.css");
@import url("styles/search.css");
@import url("styles/content.css");
@import url("styles/footer.css");
@import url("styles/services.css");

body,
h1 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-color: #ececec;
}